@import "tailwindcss";

html {
  overflow-x: hidden;
  width: 100%;
}

body {
  background-color: #080808;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

@theme {
  /* Custom tailwind colors for SoundSchool */
  --color-primary: #0078FF; /* Blue */
  --color-secondary: #FFD11D; /* Yellow */
  
  /* Default font family */
  --font-family-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
}